* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html, body {
    height: 100%;    
}
.container {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
#title{
    display: inline-block;
    color: azure;
    margin: 10px auto;
    width: 80%;
    text-align: center;
    font-size: 4em;
}
#incoming-section {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
    width: 70%;
    height: 100%;
    padding: 0 12px ; 
    color: azure;
}
#today-section {
    width: 30%;
    background-image: linear-gradient(to bottom right, #29323C, #485563);
    padding: 12px;
}
#today-section h2 {
    color: azure;
    font-size: 3em;
}
.carousel-item h2{
    font-size: 4em;
    font-weight: bold;
}
.list-card{
    overflow-y: auto;
    height: 80%;
}
.card{
    margin: 12px 0;
}
.carousel-item p{
    font-size: 2em;
}
.card-body p,.card-body h3 {
    color: #212427;
}
#time_display{
    font-size: 3em;
    color: azure;
}
